body{
  width:50%;
  margin:0 auto;
}
header{
  text-align:center;
}
header h1{
  font-size:100px;
  color:#2c2d50;
  font-weight:30px;
}
input{
  font-size:20px;
  color:#2c504f;
  width:100%;
  border:none;
  outline:none;
  border-bottom:1px solid black;
  padding:5px;
}

.task{
  background-color: #34355e;
  padding: 10px;
  margin:6px;
  overflow-x: hidden;
  border-radius: 6px;
  cursor:pointer;
}

.task span{
  color:#ffffff
}

.icon{
  float:right;
  margin-right:20px;
}

article{
  display:grid;
}

.edit-todo{
  width: 85%;
  font-size:16px;
  color:#ffffff;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid #ffffff;
}

.button{
  margin: 0 10px;
  padding: 10px;
  font:14px;
  color: #776767;
  background-color: #bed9e070;
  border:none;
  cursor: pointer;
  width: 100px;
  border-radius: 4px;
  margin-top: 15px;
}

.button.selected{
  color:#ffffff;
  background-color: #6c6777;
}

.button.clear{
  float:right;
  color:#ffffff;
  background-color:black;
  width:170px;
}